@model ScoutGestWeb.Models.AtividadeViewModel

@{
    ViewData["Title"] = "Detalhes - Atividades";
}

<h1>Detalhes</h1>
<hr />
<div>
    <dl class="row" style="margin-left:30%; margin-top:5%">
        <!--<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDAtividade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDAtividade)
        </dd>-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seccao):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seccao)
            @*switch (Model.Seccao)
                {
                    case "0":
                    Lobitos
                        break;
                }*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Local):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Local)
        </dd>
        <dt class="col-sm-2">
            Duração:
        </dt>
        <dd class="col-sm-10">
            de @Html.DisplayFor(model => model.DataInicio) até @Html.DisplayFor(model => model.DataFim)
        </dd>
    </dl>
</div>
<div style="margin-left:30%">
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
