@model IEnumerable<ScoutGestWeb.Models.TiposPagsViewModel>

@{
    ViewData["Title"] = "Informação do pagamento";
}

<h1>Index</h1>

<p>
    <a asp-action="NovoPagamento">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID do pagamento</th>
            <th>Pagamento</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagamento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
