@model IEnumerable<ScoutGestWeb.Models.TiposPagsViewModel>
@{
    ViewData["Title"] = "Informação do pagamento - Tesouraria";
}
<div class="text-white">
    <aside class="sidenav">
        <br />
        @if (User.IsInRole("Administração de Agrupamento"))
        {
            <div style="padding: 3px">
                <h4>Pagamentos</h4>
                <hr />
                <ul>
                    <li class="linksMovs">
                        <a asp-action="NovoPagamento">Novo pagamento</a>
                    </li>
                </ul>
                <hr />
            </div>
        }
    </aside>
</div>
<div class="mainBody">
    <h1>Pagamentos</h1>
    @if (TempData["msgKeep"] != null)
    {
        if (TempData["msgKeep"].ToString().Contains("Ocorreu um erro"))
        {
            <div class="bg-danger rounded text-center">
                <b>@TempData["msgKeep"]</b>
            </div>
        }
        else
        {
            <div class="bg-success rounded text-center">
                <b>@TempData["msgKeep"]</b>
            </div>
        }
    }
    <table class="table">
        <thead>
            <tr>
                <th>ID do pagamento</th>
                <th>Pagamento</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDPagamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pagamento)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.IDPagamento }) |
                        @Html.ActionLink("Eliminar", "EliminarGet", new { id = item.IDPagamento })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>