@model IEnumerable<ScoutGestWeb.Models.MovimTransfViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <title>Movimentos</title>
    </head>
    <body class="bg-white">
        <style>
            tr {
                page-break-inside: avoid;
                page-break-after: auto;
                text-align: center;
            }
            body {
                overflow:initial;
            }
        </style>
        <!--<header style="text-align: center; border: 2px dashed black; font-size: 20px">
            <img src="~/imgs/logo.png" style="height: 40px" />  ScoutGest<br />
        </header>-->
        <div class="container-fluid bg-light text-center border-primary header p-1">
            <h1 style="color:rgb(82, 82, 82); margin-top: auto"><img src="~/imgs/logo.png" style="width: 3%; margin: 3px 0px 3px 0px;">  ScoutGest</h1>
        </div>
        <br />
        <table class="table" style="border: 2px solid black; margin: auto 0 auto 0;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Caixa de origem</th>
                <th>Caixa de destino</th>
                <th>Documento</th>
                <th>Username</th>
                <th>Data/Hora</th>
                <th>Valor</th>
                <th>Tipo de pagamento</th>
                <th>Descrição</th>
                <th>Atividade</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDMovimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCaixaOrigem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCaixaDestino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.NormalizedUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Atividade)
                </td>
            </tr>
            }
        </tbody>
        </table>
    </body>
</html>