@model IEnumerable<ScoutGestWeb.Models.CaixaViewModel>

@{
    ViewData["Title"] = "Caixas de pagamentos - Tesouraria";
}

<div>
    <aside class="sidenav">
        <ul>
            <li class="linksMovs">
                <a asp-action="NovaCaixa">Nova caixa</a>
            </li>
        </ul>
    </aside>
</div>
<div class="mainBody">
    @if (!User.IsInRole("Comum"))
    {
        <h1>Caixas</h1>
        if (TempData["msg"] != null)
        {
            if (TempData["msgKeep"].ToString().Contains("Ocorreu um erro"))
            {
                <div class="bg-danger rounded text-center">
                    <b>TempData["msg"]</b>
                </div>
            }
            else
            {
                <div class="bg-success rounded text-center">
                    <b>TempData["msg"]</b>
                </div>
            }
        }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grupo)
                    </th>
                    <th>
                        Responsável
                    </th>
                    <th>
                        Saldo
                    </th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grupo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Responsavel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Saldo)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id=item.ID }) |
                            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h1>A sua caixa</h1>
            <div style="display: flex; justify-content: center; align-items: center">
                <table>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>ID de caixa:</th>
                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                        </tr>
                        <tr>
                            <th>Nome:</th>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        </tr>
                        <tr>
                            <th>Grupo atribuído:</th>
                            <td>@Html.DisplayFor(modelItem => item.Grupo)</td>
                        </tr>
                        <tr>
                            <th>Responsável atribuído:</th>
                            <td>@Html.DisplayFor(modelItem => item.Responsavel)</td>
                        </tr>
                        <tr>
                            <th>Saldo de caixa:</th>
                            <td>@Html.DisplayFor(modelItem => item.Saldo)€</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>