@model ScoutGestWeb.Models.CaixaViewModel
@{
    ViewData["Title"] = "Nova caixa - Tesouraria";
}

<h1>Nova caixa</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NovaCaixa">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="split">
                <div class="split left" style="margin-top:210px;margin-left:5%; width:40%">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" /><br />
                    <div class="text-danger">@Html.ValidationMessageFor(x => x.Nome)</div>

                    <label asp-for="Grupo" class="control-label"></label>
                    <select asp-for="Grupo" class="form-control">
                        @foreach (var grupo in ViewBag.grupos)
                        {
                        <option>@grupo</option>
                        }
                    </select><br />
                </div>
                <div class="split right" style="margin-top:210px; width:40%; margin-right:5%">
                    <div class="text-danger">@Html.ValidationMessageFor(x => x.Grupo)</div>
                    <label asp-for="Responsavel" class="control-label">Responsável</label>
                    <input asp-for="Responsavel" class="form-control" /><br />
                    <div class="text-danger">@Html.ValidationMessageFor(x => x.Responsavel)</div>

                    <label asp-for="Saldo" class="control-label">Saldo</label>
                    <input asp-for="Saldo" class="form-control" type="number" max="99999999999999999999999999999999999999999999999999999999999999999.99" min="0.00" step="0.01" value="0.00" /><br />
                    <div class="text-danger">@Html.ValidationMessageFor(x => x.Saldo)</div>
                    <button type="submit" class="btn btn-primary">Criar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>