@model ScoutGestWeb.Models.EscuteirosViewModel
@{
    ViewData["Title"] = "Detalhes - Escuteiros";
}

<h1>Detalhes</h1>
<div class="split">
        <div class="split left" style="margin-top:140px;margin-left:5%; width:45%">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome):
                </dt>
                <dd class="col-sm-10" style="text-align:left">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Totem):
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.Totem)
                </dd>
                <dt class="col-sm-2">
                    Secção:
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.Seccao)
                </dd>
                <dt class="col-sm-2">
                    Estado:
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
                <dt class="col-sm-2">
                    Idade:
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.Idade)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Morada):
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.Morada), @Html.DisplayFor(model => model.Morada2)
                </dd>
                <dt class="col-sm-2">
                    Código-postal:
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.CodPostal)
                </dd>
                <dt class="col-sm-2">
                    Grupo sanguíneo:
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.GrupoSanguineo)
                </dd>
                <dt class="col-sm-2">
                    Alergias:
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.Alergias)
                </dd>
                <dt class="col-sm-2">
                    Medicação:
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.Medicacao)
                </dd>
                <dt class="col-sm-2">
                    Problemas:
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.Problemas)
                </dd>
                <dt class="col-sm-2">
                    Observações:
                </dt>
                <dd class="col-sm-10"  style="text-align:left">
                    @Html.DisplayFor(model => model.Observacoes)
                </dd>
            </dl>
            <div class="row">
                &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("Editar", "Editar", new { id = Model.ID }) | @Html.ActionLink("Eliminar", "Eliminar", new { id = Model.ID }) |
                <a asp-action="Index">Voltar</a>
            </div>
        </div>
        <div class="split right" style="margin-top:35px; width:40%; margin-right:10%">
            <div class="imagedeth">
                <img src="@Html.DisplayFor(model => model.FotoDown)" />
            </div>
    </div>
</div>