@model ScoutGestWeb.Models.EscuteirosViewModel
@{
    ViewData["Title"] = "Editar escuteiro - Escuteiros";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<h1>Inserir escuteiro</h1>

<h4>Editar dados</h4>
<hr />
<div class="text-center">
    <form asp-for="InserirEscuteiro" class="row" enctype="multipart/form-data" style="margin:auto" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger">@Html.ValidationSummary(false)</div>
        <div class="form-group col-xl-3 text-sm-left">
            <label asp-for="ID">ID:</label>
            <input asp-for="ID" /><br />
            <div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.ID)</div>
            <label asp-for="Nome">Nome:</label>
            <input asp-for="Nome" /><br />
            <div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.Nome)</div>
            <br />
            <label asp-for="Totem">Totem:</label>
            <input asp-for="Totem" />
            <div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.Totem)</div>
            <br />
            <label asp-for="Seccao">Secção:</label>
            <select asp-for="Seccao">
                <option>Lobitos</option>
                <option>Exploradores</option>
                <option>Pioneiros</option>
                <option>Caminheiros</option>
                <option>Dirigentes</option>
            </select>
            <br />
            <label asp-for="Estado">Estado da promessa:</label>
            <select asp-for="Estado">
                <option>Inscrito</option>
                <option>Noviço</option>
                <option>Aspirante</option>
                <option>Promessa feita</option>
            </select>
            <br />
            <label asp-for="FotoUp">Fotografia:</label>
            <input asp-for="FotoUp" type="file" accept=".jpg,.png" />
            <br />
            <label asp-for="Grupo">Grupo:</label>
            <select asp-for="Grupo">
                @foreach (string s in ViewBag.grupos)
                {
                    <option>@s</option>
                }
            </select>
        </div>
        <div class="col-xl-3 text-sm-left">
            <label>Cargo:</label><br />
            @Html.CheckBoxFor(modelItem => modelItem.Guia.Selecionado) Guia<br />
            @Html.CheckBoxFor(modelItem => modelItem.Animador.Selecionado) Animador<br />
            @Html.CheckBoxFor(modelItem => modelItem.Cozinheiro.Selecionado) Cozinheiro<br />
            @Html.CheckBoxFor(modelItem => modelItem.GuardaMaterial.Selecionado) GuardaMaterial<br />
            @Html.CheckBoxFor(modelItem => modelItem.Secretario.Selecionado) Secretario<br />
            @Html.CheckBoxFor(modelItem => modelItem.Tesoureiro.Selecionado) Tesoureiro<br />
            @Html.CheckBoxFor(modelItem => modelItem.RelPub.Selecionado) Relações públicas<br />
            @Html.CheckBoxFor(modelItem => modelItem.Socorrista.Selecionado) Socorrista<br />
            @Html.CheckBoxFor(modelItem => modelItem.GuiaRegiao.Selecionado) Guia de região<br />
            @Html.CheckBoxFor(modelItem => modelItem.SubGuia.Selecionado) Sub-guia<br />
            @Html.CheckBoxFor(modelItem => modelItem.Chefe.Selecionado) Chefe<br />
            <div class="bg-danger rounded-lg text-center">@Html.ValidationSummary(true)</div>
        </div>
        <div class="col-xl-3 text-sm-left">
            <label asp-for="Idade">Idade:</label>
            <input asp-for="Idade" type="number" value="6" min="6" max="150" />
            <div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.Idade)</div>
            <br />
            <label asp-for="NumTelefone">Telefone: +351</label>
            <input asp-for="NumTelefone" />
            <br />
            <label asp-for="Morada">Morada:</label>
            <input asp-for="Morada" />
            <div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.Morada)</div>
            <br />
            <label asp-for="Morada2">Morada (continuação):</label>
            <input asp-for="Morada2" />
            <div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.Morada2)</div>
            <br />
            <label asp-for="CodPostal">Código-postal:</label>
            <input asp-for="CodPostal" />
            <div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.CodPostal)</div>
            <label asp-for="Localidade">Código-postal:</label>
            <input asp-for="Localidade" />
            <div class="bg-danger rounded-lg text-center">@Html.ValidationMessageFor(x => x.Localidade)</div>
            <br />
        </div>
        <div class="col-xl-3 text-sm-left">
            <label asp-for="GrupoSanguineo">Grupo sanguíneo:</label>
            <select asp-for="GrupoSanguineo">
                <option>A+</option>
                <option>A-</option>
                <option>B+</option>
                <option>B-</option>
                <option>AB+</option>
                <option>AB-</option>
                <option>O+</option>
                <option>O-</option>
            </select>
            <br />
            <label asp-for="Alergias">Alergias:</label>
            <input asp-for="Alergias" type="text" />
            <br />
            <label asp-for="Medicacao">Medicação:</label>
            <input asp-for="Medicacao" type="text" />
            <br />
            <label asp-for="Problemas">Problemas de saúde:</label>
            <input asp-for="Problemas" type="text" />
            <br />
            <label asp-for="Observacoes">Observações:</label>
            <input asp-for="Observacoes" type="text" />
            <br />
        </div>
        <input class="text-center btn btn-primary container-fluid" type="submit" value="Create" />
    </form>
</div>
<p class="text-center">
    <a asp-action="Index">Voltar</a>
</p>