@model IEnumerable<ScoutGestWeb.Models.EscuteirosViewModel>
@{
    ViewData["Title"] = "Escuteiros";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<div class="text-white">
    <aside class="sidenav">
        <br />
        @if (User.IsInRole("Administração de Agrupamento"))
        {
            <div style="padding: 3px 3px 6px 3px">
                <h4>Escuteiros</h4>
                <hr />
                <ul>
                    <li class="linksEscut">
                        <a asp-action="InserirEscuteiro">Inserir escuteiro</a>
                        <br />
                    </li>
                </ul>
                <hr />
            </div>
        }
        <div style="padding: 3px">
            <h4>Grupos</h4>
            <hr />
            <ul>
                <li class="linksEscut">
                    <a asp-action="Index" asp-controller="Grupos">Visualizar grupos</a>
                </li>
                @if (User.IsInRole("Administração de Agrupamento"))
                {
                    <li class="linksEscut">
                        <a asp-action="NovoGrupo" asp-controller="Grupos">Novo grupo</a>
                    </li>
                }
            </ul>
            <hr />
        </div>
    </aside>
</div>
<div class="mainBody">
    <h1>Escuteiros</h1>
    @if (TempData["msgKeep"] != null)
    {
        if (TempData["msgKeep"].ToString().Contains("Ocorreu um erro"))
        {
            <div class="bg-danger rounded text-center">
                <b>@TempData["msgKeep"]</b>
            </div>
        }
        else
        {
            <div class="bg-success rounded text-center">
                <b>@TempData["msgKeep"]</b>
            </div>
        }
    }
    <div style="text-align: center">
        @using (Html.BeginForm("Index", "InserirEscuteiro", FormMethod.Get))
        {
            <div class="bg-danger rounded">@Html.ValidationSummary(false)</div><br />
            <select name="coluna">
                <option>Nome</option>
                <option>Totem</option>
                <option>Cargo</option>
                <option>Secção</option>
                <option>Grupo</option>
                <option>Morada</option>
                <option>Código-postal</option>
                <option>Localidade</option>
                <option>Grupo sanguíneo</option>
                <option>Alergias</option>
                <option>Medicação</option>
                <option>Problemas</option>
                <option>Observações</option>
                <option>Idade</option>
                <option>Estado</option>
                <option>Número de telefone</option>
            </select>
            <input name="procura" />
            <input type="submit" value="Procurar" class="btn btn-success" />
        }
    </div>
    <div style="height: 80%; vertical-align: middle">
        @foreach (var item in Model)
        {
            <div class="column" style="margin:auto">
                <div class="row" style="float:left; margin: 0px 15px 15px 0px; max-height: 180px;">
                    <div>
                        <div class="column">
                            <input type="hidden" value="" />
                            <img src="@Html.DisplayFor(modelItem => item.FotoDown)" style="float:left;  min-height:175px; max-height: 175px; min-width: 175px; max-width: 175px; object-fit: cover" />
                        </div>
                        <div class="column" style="margin: auto 0 auto 0">
                            <div class="row">@Html.DisplayFor(modelItem => item.Nome)</div><br />
                            <div class="row">Secção: @Html.DisplayFor(modelItem => item.Seccao)||Totem: @Html.DisplayFor(modelItem => item.Totem)</div><br />
                            <div class="row">
                                <a href="@Url.ActionLink("Detalhes", "Escuteiros", new { id = item.ID })"><button class="btn btn-secondary">Detalhes</button></a>
                                <a href="@Url.ActionLink("Editar", "Escuteiros", new { id = item.ID })"><button class="btn btn-secondary">Editar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>