@model IEnumerable<ScoutGestWeb.Models.MovimentoViewModel>
@{
    ViewData["Title"] = "Movimentos - Tesouraria";
}

<div class="text-white">
    <aside class="sidenav">
        <br />
        <div style="padding: 3px 3px 6px 3px">
            <h4>Movimentos</h4>
            <hr />
            <ul>
                <li class="linksMovs">
                    <a asp-action="Entrada" asp-controller="Movimentos">Entradas</a>
                    <br />
                </li>
                <li class="linksMovs">
                    <a asp-action="Saida" asp-controller="Movimentos">Saídas</a>
                    <br />
                </li>
                <li class="linksMovs">
                    <a asp-action="Transferencia" asp-controller="Movimentos">Transferências</a>
                    <br />
                </li>
            </ul>
            <hr />
        </div>
        <div style="padding: 3px">
            <h4>Análises</h4>
            <hr />
            <ul>
                <li class="linksMovs">
                    <a asp-action="DiarioCaixa" asp-controller="Movimentos">Diário de caixa</a>
                </li>
                <li class="linksMovs">
                    <a asp-action="MovParam" asp-controller="Movimentos">Movimentos entre parâmetros</a>
                </li>
                <li class="linksMovs">
                    <a asp-action="Rankings" asp-controller="Movimentos">Rankings</a>
                </li>
            </ul>
            <hr />
        </div>
        @if (User.IsInRole("Administração de Agrupamento"))
        {
            <div style="padding: 3px">
                <h4>Tabelas</h4>
                <hr />
                <ul>
                    <li class="linksMovs">
                        <a asp-action="Index" asp-controller="Caixas">Caixas</a>
                    </li>
                    <li class="linksMovs">
                        <a asp-action="Index" asp-controller="TiposDocs">Documentos</a>
                    </li>
                    <li class="linksMovs">
                        <a asp-action="Index" asp-controller="TiposPags">Pagamentos</a>
                    </li>
                </ul>
                <hr />
            </div>
        }
    </aside>
</div>
<div class="mainBody">
    <h1>Movimentos</h1>

    @if (Model.Count() == 0)
    {
        <p><b>Não existem movimentos para mostrar</b></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID de mov.</th>
                    <th>Caixa</th>
                    <th>Documento</th>
                    <th>Tipo de mov.</th>
                    <th>Data</th>
                    <th>Valor</th>
                    <th>Tipo de pag.</th>
                    <th>Descrição</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.IDMovimento)</td>
                        <td>@Html.DisplayFor(modelItem => item.IDCaixa)</td>
                        <td>@Html.DisplayFor(modelItem => item.IDDocumento)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoMovimento)</td>
                        <td>@item.DataHora.ToString().Substring(0, item.DataHora.ToString().IndexOf(" 00:00:00"))</td>
                        <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                        <td>@Html.DisplayFor(modelItem => item.TipoPagamento)</td>
                        <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id=item.IDMovimento }) |
                            @Html.ActionLink("Eliminar", "EliminarGet", new { id=item.IDMovimento })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<!--
<a class="dropdown-item" asp-action="PDFTransfs">Transferências</a>
<a class="dropdown-item" >Entradas e saídas</a>
<a class="dropdown-item" asp-action="PDFPags">Tipos de pagamento</a>
-->
<!--dude primeiro chill segundo pq e que ha duas partes as duas chamadas movimento?-->
<!--pq ainda n mudei o nome, bruh-->
<!--<style>
    body div h1:not([value~="ScoutGest"]) {
        margin: 0;
        height: 100%;
    }
</style>-->