@model IEnumerable<ScoutGestWeb.Models.MovimentoViewModel>

@{
    ViewData["Title"] = "Movimentos - Tesouraria";
}

<!--<style>
    body div h1:not([value~="ScoutGest"]) {
        margin: 0;
        height: 100%;
    }
</style>-->

<h1>Index</h1>

<div style="text-align: center; position: relative; margin: auto">
    <div class="dropdown dropleft" style="float: right; margin-right: 45vh">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Movimentos de tesouraria
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-action="Entrada" asp-controller="Movimentos">Entradas</a>
            <a class="dropdown-item" asp-action="Saida" asp-controller="Movimentos">Saídas</a>
            <a class="dropdown-item" asp-action="Transferencia" asp-controller="Movimentos">Transferências</a>
        </div>
    </div>
    <div class="dropdown dropright" style="float: left; margin-left: 45vh">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Análises
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <!--
            <a class="dropdown-item" asp-action="PDFTransfs">Transferências</a>
            <a class="dropdown-item" >Entradas e saídas</a>
            <a class="dropdown-item" asp-action="PDFPags">Tipos de pagamento</a>
            -->
            <a class="dropdown-item" asp-action="DiarioCaixa">Diário de caixa</a>
            <a class="dropdown-item" asp-action="MovParam">Movimentos entre parâmetros</a>
        </div>
    </div>
</div>
@if (Model.Count() == 0)
{
    <p><b>Não existem movimentos para mostrar</b></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID de mov.</th>
                <th>Caixa</th>
                <th>Documento</th>
                <th>Tipo de mov.</th>
                <th>Data / hora</th>
                <th>Valor</th>
                <th>Tipo de pag.</th>
                <th>Descrição</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IDMovimento)</td>
                    <td>@Html.DisplayFor(modelItem => item.IDCaixa)</td>
                    <td>@Html.DisplayFor(modelItem => item.IDDocumento)</td>
                    <td>@Html.DisplayFor(modelItem => item.TipoMovimento)</td>
                    <td>@Html.DisplayFor(modelItem => item.DataHora)</td>
                    <td>@Html.DisplayFor(modelItem => item.Valor)</td>
                    <td>@Html.DisplayFor(modelItem => item.TipoPagamento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Descricao)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}