@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model ScoutGestWeb.Models.MovimentoViewModel
@{
    ViewData["Title"] = "Nova saída - Tesouraria";
    bool inserirBool = TempData["insertKeep"] != null ? bool.Parse(TempData["insertKeep"].ToString()) : true;
}
<h1>Criar nova saída</h1>
<hr />

<div class="container-fluid">
    @if (TempData["insertMsgKeep"] != null)
    {
        if (TempData["insertMsgKeep"].ToString().Contains("Ocorreu um erro"))
        {
            <div class="bg-danger rounded text-center">
                <b>@TempData["insertMsgKeep"].ToString()</b>
            </div>
        }
        else
        {
            <div class="bg-success rounded text-center">
                <b>@TempData["insertMsgKeep"].ToString()</b>
            </div>
        }
    }
    <form asp-action="Saida">
        <div class="split">
            <div class="split left" style="margin-top:210px;margin-left:5%; width:40%">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IDCaixa" class="control-label">Caixa</label>
                    <select asp-for="IDCaixa" class="form-control">
                        @foreach (string s in ViewBag.caixas)
                        {
                            <option>@s</option>
                        }
                    </select>
                    <span asp-validation-for="IDCaixa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IDDocumento" class="control-label"></label>
                    <select asp-for="IDDocumento" class="form-control">
                        @foreach (string s in ViewBag.documentos)
                        {
                            <option>@s</option>
                        }
                    </select>
                    <span asp-validation-for="IDDocumento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataHora" class="control-label">Data</label>
                    <input asp-for="DataHora" type="date" class="form-control" />
                    <span asp-validation-for="DataHora" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Valor" class="control-label"></label>
                    <input asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <a asp-action="Index">Voltar à página anterior</a>
            </div>
            <div class="split right" style="margin-top:210px; width:40%; margin-right:5%">
                <div class="form-group">
                    <label asp-for="TipoPagamento" class="control-label">Tipo de pagamento</label>
                    <select asp-for="TipoPagamento" class="form-control">
                        @foreach (string s in ViewBag.pagamentos)
                        {
                            <option>@s</option>
                        }
                    </select>
                    <span asp-validation-for="TipoPagamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label">Descrição</label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Seccao" class="control-label">Secção</label>
                    <select asp-for="Seccao" class="form-control">
                        <option>Lobitos</option>
                        <option>Exploradores</option>
                        <option>Pioneiros</option>
                        <option>Caminheiros</option>
                        <option>Dirigentes</option>
                        <option>Agrupamento</option>
                    </select>
                    <span asp-validation-for="Seccao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Atividade" class="control-label"></label>
                    <select asp-for="Atividade" class="form-control">
                        @foreach (string s in ViewBag.atividades)
                        {
                            <option>@s</option>
                        }
                    </select>
                    <span asp-validation-for="Atividade" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="User" value="@UserManager.GetUserAsync(User).Result" />
                @if (TempData["insertKeep"] != null && !bool.Parse(TempData["insertKeep"].ToString()))
                {
                    <input type="hidden" name="id" value="@Model.IDMovimento" />
                }
                <input type="hidden" name="inserir" value="@(TempData["insertKeep"] != null ? inserirBool ? "True": "False" : "True")" />
                <input type="submit" value="Submeter saída de tesouraria" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>