@model ScoutGestWeb.Models.InserirEscuteiroViewModel
@{
    ViewData["Title"] = "Detalhes";
}
<!--dividiste o ecra a meio?-->
<!--yeah, esse nao era o teu plano? tavas a tentar fazer isso nao era?-->
<!--em principio sim-->
<!--so what do u think? like the image probably could be better but i think the text is fine as in the placement-->
<!--a img ta fixe-->
<!--then is everything right with the page?-->
<!--hold up real quick
    start now
    semmingly yes-->
<!--next page tell me-->
<!--tenta so centrar o texto 1º-->
<!--desta pag? oki-->
<!--posso tirar a classe table daqui?-->
<!--n consegues por mais p a direita c a tabela p aqui?-->
<!--i could try moving the table, tbh i wasn't thinking that-->
<!--eu tinha te dito p centrar?-->
<!--sim-->
<!--wasnt meaning that, meant por um bocado p a direita-->
<!--oh then thats easier meto um padding e there-->
<div class="tabledeth">
    <h1>Detalhes</h1>
    <div class="rowdeth">
        <div class="columndet">
            <dl class="row">
                <!--<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ID)
            </dd>-->
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome):
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Totem):
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Totem)
                </dd>
                <dt class="col-sm-2">
                    Secção:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Seccao)
                </dd>
                <dt class="col-sm-2">
                    Estado:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
                <dt class="col-sm-2">
                    Idade:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Idade)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Morada):
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Morada), @Html.DisplayFor(model => model.Morada2)
                </dd>
                <dt class="col-sm-2">
                    Código-postal:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CodPostal)
                </dd>
                <dt class="col-sm-2">
                    Grupo sanguíneo:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GrupoSanguineo)
                </dd>
                <dt class="col-sm-2">
                    Alergias:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Alergias)
                </dd>
                <dt class="col-sm-2">
                    Medicação:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Medicacao)
                </dd>
                <dt class="col-sm-2">
                    Problemas:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Problemas)
                </dd>
                <dt class="col-sm-2">
                    Observações:
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Observacoes)
                </dd>
            </dl>
        </div>
        <div class="columndet">
            <div class="imagedeth">
                <img src="@Html.DisplayFor(model => model.FotoDown)"/>
            </div>
        </div>
    </div>
  
    <div class="row">
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Voltar à listagem</a>
    </div>
</div>